# This repository is safe to use with RHEL/CentOS base repository
# it only provides additional packages for the PHP stack
# all dependencies are in base repository or in EPEL

[remi-safe]
name=Safe Remi's RPM repository for Enterprise Linux {{ remi_rel }} - $basearch
#baseurl=http://rpms.remirepo.net/enterprise/{{ remi_rel }}/safe/$basearch/
mirrorlist=http://rpms.remirepo.net/enterprise/{{ remi_rel }}/safe/mirror
{% if remi_repos.remi_safe is defined %}
{%   if remi_repos.remi_safe %}
enabled=1
{%   else %}
enabled=0
{%   endif %}
{% else %}
enabled=0
{% endif %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi
