# This repository only provides PHP 7.2 and its extensions
# NOTICE: common dependencies are in "remi-safe"

[remi-php72]
name=Remi's PHP 7.2 RPM repository for Enterprise Linux {{ remi_rel }} - $basearch
#baseurl=http://rpms.remirepo.net/enterprise/{{ remi_rel }}/php72/$basearch/
#mirrorlist=https://rpms.remirepo.net/enterprise/{{ remi_rel }}/php72/httpsmirror
mirrorlist=http://cdn.remirepo.net/enterprise/{{ remi_rel }}/php72/mirror
enabled={{ '1' if remi_repository_remi_php72|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi

[remi-php72-debuginfo]
name=Remi's PHP 7.2 RPM repository for Enterprise Linux {{ remi_rel }} - $basearch - debuginfo
baseurl=http://rpms.remirepo.net/enterprise/{{ remi_rel }}/debug-php72/$basearch/
enabled={{ '1' if remi_repository_remi_php72_debuginfo|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi

[remi-php72-test]
name=Remi's PHP 7.2 test RPM repository for Enterprise Linux {{ remi_rel }} - $basearch
#baseurl=http://rpms.remirepo.net/enterprise/{{ remi_rel }}/test72/$basearch/
#mirrorlist=https://rpms.remirepo.net/enterprise/{{ remi_rel }}/test72/httpsmirror
mirrorlist=http://cdn.remirepo.net/enterprise/{{ remi_rel }}/test72/mirror
enabled={{ '1' if remi_repository_remi_php72_test|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi

[remi-php72-test-debuginfo]
name=Remi's PHP 7.2 test RPM repository for Enterprise Linux {{ remi_rel }} - $basearch - debuginfo
baseurl=http://rpms.remirepo.net/enterprise/{{ remi_rel }}/debug-test72/$basearch/
enabled={{ '1' if remi_repository_remi_php72_test_debuginfo|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi
